/* header */
@font-face {
  font-family: 'NanumSquare';
  src: url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css'); /*폰트 파일 주소*/
}

@font-face {
  font-family: 'MaruBuri-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
dt{
  display: block;
  font-size: 13px;
}
dd{
  display: block;
  background-color: #c1c1c1;
  padding: 5px;
  font-size: 15px;
}
body {
  margin-left: 0;
  margin-right: 0;
}
.img{
  width: 90%;
  margin: auto;
  display: block;
}
.h1{
  font-family: 'MaruBuri-Regular', monospace;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-weight: bold;
  font-size: 70px;
  text-decoration : underline;
  text-underline-position: under;
}

.small_img{
  width: 30%;
  display: block;
}
.table{
  margin:auto;
  display: block;
}

.tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.planeTxt{
  font-family: 'MaruBuri-Regular', monospace;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  vertical-align: center;
}
.planeTxtBackg{
  background-color: lightgoldenrodyellow;
  font-family: 'MaruBuri-Regular', monospace;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: center;
  width: 60%;
  display: block;
  padding-bottom: 15px;
}

.logo {
  height: 100px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.logo a {
  margin-left: 200px;
}
.logo img{
  width: 100px;
}
.menus {
  position: absolute;
  top: 47px;
  margin-left: 300px;
  padding-left: 10px;
  list-style-type: none;
  font-size: 20px;
  font-family: 'NanumSquare', sans-serif;
}
.menus a {
  text-decoration: none;
}
.menu {
  margin-right: 100px;
  float: left;
}
.menu:hover .menu_contents {
  display: block;
}
.menu_title {
  height: 40px;
  color: black;
}
.menu_small{
   color: blue;
   font-size: 15px;
   font-weight: bold;
 }
.menu_contents {
  display: none;
  color:gray;
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 200px;
}

.menu_contents a {
  display: block;
  color: gray;
  margin: 10px 10px 15px 10px;
}

/* home menubar */
.home_menubar {
  position: fixed;
  top: 200px;
  left: 100px;
}
.home_menubar ul {
  list-style-type: none;
}
.home_menubar_detail {
  font-family: 'NanumSquare', sans-serif;
  font-size: 20px;
  padding: 10px 60px;
  margin-bottom: 5px;
  border: 1px solid #649d44;
}
.home_menubar a {
  text-decoration: none;
  color: black;
}
.home_menubar_detail:hover {
  cursor: pointer;
  background-color: #649d44;
  color: white;
}
.home_content {
  margin: 100px 350px;
}