@font-face {
  font-family: 'NanumSquare';
  src: url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css'); /*폰트 파일 주소*/
}


body {
  font-family: 'NanumSquare', sans-serif;
  margin-left: 0;
  margin-right: 0;
}
.logo {
  height: 100px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.logo a {
  margin-left: 200px;
}
.logo img{
  width: 100px;
}
.menus {
  position: absolute;
  top: 47px;
  margin-left: 300px;
  padding-left: 10px;
  list-style-type: none;
  font-size: 20px;
}
.menus a {
  text-decoration: none;
  color: black;
}
.menu {
  margin-right: 100px;
  float: left;
}
.menu:hover .menu_contents {
  display: block;
}
.menu_title {
  height: 40px;
}
.menu_contents {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 200px;
}
.menu_contents a {
  display: block;
  margin: 10px 10px 15px 10px;
}

menu_small{
  color: blue;
  height: 20px;
  font-weight: bold;
}
